@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('./GowunBatang-Regular.ttf') format('truetype');
}

section {
	color: purple;
	text-align: center;
	margin-top:40px;
}

join {
	float: left;
	margin-left: 30%;
	width: 300px;
	height: 220px;
	background-color: grey;
	font-family: 'GowunBatang-Regular';
	
}

manage {
	float: right;
  	margin-right: 30%;
	width: 300px;
	height: 220px;
	background-color: silver;
	font-family: 'GowunBatang-Regular';
}

button {
	background-color:teal;
	color: white;
	border: 0;
	outline: 0;
	padding:5px;
	font-family: 'GowunBatang-Regular';
}

