@font-face {
  font-family: Koverwatch;
  src: url(koverwatch-webfont-1f961d9e70.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Koverwatch;
  font-size: 2rem;
}
